In [3]:
import os
print (os.getcwd())

C:\git\learnPython\Juypyter

In [5]:
# Load CSV (using python)
import csv

In [9]:
filename = 'weatherhistory.csv'

In [10]:
raw_data = open(filename, 'rt')

In [14]:
# chunksize=1000000)
#https://towardsdatascience.com/why-and-how-to-use-pandas-with-large-data-9594dda2ea4c
reader = csv.reader(raw_data, delimiter=';', quoting=csv.QUOTE_NONE)

In [17]:
print(reader.head())

AttributeError: '_csv.reader' object has no attribute 'head'

In [ ]:
data = numpy.array(x).astype('float')
print(data.shape)

import  numpy

In [33]:
import pandas
filename = 'weatherhistory.csv'
dataframe=pandas.read_csv(filename, sep=';',header=0)

In [34]:
#These all return the same result
#list(dataframe.columns.values)
list(dataframe)
#dataframe.columns.tolist()

['date',
 'temperaturemin',
 'temperaturemax',
 'precipitation',
 'snowfall',
 'snowdepth',
 'avgwindspeed',
 'fastest2minwinddir',
 'fastest2minwindspeed',
 'fastest5secwinddir',
 'fastest5secwindspeed',
 'fog',
 'fogheavy',
 'mist',
 'rain',
 'fogground',
 'ice',
 'glaze',
 'drizzle',
 'snow',
 'freezingrain',
 'smokehaze',
 'thunder',
 'highwind',
 'hail',
 'blowingsnow',
 'dust',
 'freezingfog']

In [40]:
dataframe.head(1)

,date,temperaturemin,temperaturemax,precipitation,snowfall,snowdepth,avgwindspeed,fastest2minwinddir,fastest2minwindspeed,fastest5secwinddir,...,drizzle,snow,freezingrain,smokehaze,thunder,highwind,hail,blowingsnow,dust,freezingfog
0,2007-01-13,48.0,69.1,0.0,0.0,0.0,6.93,230.0,17.0,230.0,...,No,No,No,No,No,No,No,No,No,No

In [54]:
dataframe.iloc[0, 0]

'2007-01-13'

In [57]:
# first column of data frame 
dataframe.iloc[:,0]

0       2007-01-13
1       2007-01-19
2       2007-01-21
3       2007-01-25
4       2007-01-27
5       2007-02-05
6       2007-02-08
7       2007-02-09
8       2007-02-26
9       2007-03-04
10      2007-03-05
11      2007-03-17
12      2007-03-18
13      2007-04-05
14      2007-04-06
15      2007-04-11
16      2007-04-17
17      2007-04-19
18      2007-04-23
19      2007-04-27
20      2007-04-28
21      2007-04-29
22      2007-05-02
23      2007-05-03
24      2007-05-05
25      2007-05-07
26      2007-05-08
27      2007-05-16
28      2007-05-18
29      2007-05-25
           ...
4527    2018-12-15
4528    2018-12-21
4529    2018-12-25
4530    2019-01-04
4531    2019-01-08
4532    2019-01-09
4533    2019-01-12
4534    2019-01-14
4535    2019-01-15
4536    2019-01-20
4537    2019-02-12
4538    2019-02-17
4539    2019-02-18
4540    2019-02-26
4541    2019-02-27
4542    2019-03-01
4543    2019-03-03
4544    2019-03-05
4545    2019-03-06
4546    2019-03-15
4547    2019-03-17
4548    2019-03-26
4549    2019-04-09
4550    2019-04-23
4551    2019-05-06
4552    2019-05-12
4553    2019-05-13
4554    2019-05-24
4555    2019-05-26
4556    2019-06-08
Name: date, Length: 4557, dtype: object

In [58]:
# second column of data frame
dataframe.iloc[:,1]

0       48.0
1       34.0
2       28.0
3       30.9
4       32.0
5       19.9
6       27.0
7       21.9
8       41.0
9       34.0
10      26.1
11      33.1
12      28.0
13      41.0
14      30.0
15      46.0
16      46.9
17      44.1
18      52.0
19      63.0
20      59.0
21      53.1
22      63.0
23      57.0
24      55.0
25      42.1
26      50.0
27      62.1
28      48.9
29      55.9
        ...
4527    42.1
4528    46.0
4529    26.2
4530    46.0
4531    46.0
4532    37.0
4533    30.2
4534    31.1
4535    28.2
4536    26.2
4537    41.0
4538    34.0
4539    37.9
4540    30.2
4541    39.9
4542    39.0
4543    42.1
4544    32.0
4545    27.1
4546    57.9
4547    35.1
4548    39.0
4549    61.0
4550    46.0
4551    60.1
4552    64.9
4553    57.0
4554    68.0
4555    72.0
4556    71.1
Name: temperaturemin, Length: 4557, dtype: float64

In [59]:
dataframe.dtypes

date                     object
temperaturemin          float64
temperaturemax          float64
precipitation           float64
snowfall                float64
snowdepth               float64
avgwindspeed            float64
fastest2minwinddir      float64
fastest2minwindspeed    float64
fastest5secwinddir      float64
fastest5secwindspeed    float64
fog                      object
fogheavy                 object
mist                     object
rain                     object
fogground                object
ice                      object
glaze                    object
drizzle                  object
snow                     object
freezingrain             object
smokehaze                object
thunder                  object
highwind                 object
hail                     object
blowingsnow              object
dust                     object
freezingfog              object
dtype: object

In [66]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4557 entries, 0 to 4556
Data columns (total 28 columns):
date                    4557 non-null datetime64[ns]
temperaturemin          4556 non-null float64
temperaturemax          4556 non-null float64
precipitation           4556 non-null float64
snowfall                4555 non-null float64
snowdepth               4555 non-null float64
avgwindspeed            4555 non-null float64
fastest2minwinddir      4556 non-null float64
fastest2minwindspeed    4556 non-null float64
fastest5secwinddir      4538 non-null float64
fastest5secwindspeed    4538 non-null float64
fog                     4557 non-null object
fogheavy                4557 non-null object
mist                    4557 non-null object
rain                    4557 non-null object
fogground               4557 non-null object
ice                     4557 non-null object
glaze                   4557 non-null object
drizzle                 4557 non-null object
snow                    4557 non-null object
freezingrain            4557 non-null object
smokehaze               4557 non-null object
thunder                 4557 non-null object
highwind                4557 non-null object
hail                    4557 non-null object
blowingsnow             4557 non-null object
dust                    4557 non-null object
freezingfog             4557 non-null object
dtypes: datetime64[ns](1), float64(10), object(17)
memory usage: 996.9+ KB

In [73]:
#https://pbpython.com/pandas_dtypes.html
#dataframe['Customer Number'].astype('int')
dataframe.iloc[:,0] = dataframe.iloc[:,0] .astype('datetime64')

In [71]:
dataframe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4557 entries, 0 to 4556
Data columns (total 28 columns):
date                    4557 non-null datetime64[ns]
temperaturemin          4556 non-null float64
temperaturemax          4556 non-null float64
precipitation           4556 non-null float64
snowfall                4555 non-null float64
snowdepth               4555 non-null float64
avgwindspeed            4555 non-null float64
fastest2minwinddir      4556 non-null float64
fastest2minwindspeed    4556 non-null float64
fastest5secwinddir      4538 non-null float64
fastest5secwindspeed    4538 non-null float64
fog                     4557 non-null object
fogheavy                4557 non-null object
mist                    4557 non-null object
rain                    4557 non-null object
fogground               4557 non-null object
ice                     4557 non-null object
glaze                   4557 non-null object
drizzle                 4557 non-null object
snow                    4557 non-null object
freezingrain            4557 non-null object
smokehaze               4557 non-null object
thunder                 4557 non-null object
highwind                4557 non-null object
hail                    4557 non-null object
blowingsnow             4557 non-null object
dust                    4557 non-null object
freezingfog             4557 non-null object
dtypes: datetime64[ns](1), float64(10), object(17)
memory usage: 996.9+ KB

AttributeError: 'DataFrame' object has no attribute 'to_numeric'

In [69]:
pandas.to_datetime(dataframe.iloc[:,1])

0      1970-01-01 00:00:00.000000048
1      1970-01-01 00:00:00.000000034
2      1970-01-01 00:00:00.000000028
3      1970-01-01 00:00:00.000000030
4      1970-01-01 00:00:00.000000032
5      1970-01-01 00:00:00.000000019
6      1970-01-01 00:00:00.000000027
7      1970-01-01 00:00:00.000000021
8      1970-01-01 00:00:00.000000041
9      1970-01-01 00:00:00.000000034
10     1970-01-01 00:00:00.000000026
11     1970-01-01 00:00:00.000000033
12     1970-01-01 00:00:00.000000028
13     1970-01-01 00:00:00.000000041
14     1970-01-01 00:00:00.000000030
15     1970-01-01 00:00:00.000000046
16     1970-01-01 00:00:00.000000046
17     1970-01-01 00:00:00.000000044
18     1970-01-01 00:00:00.000000052
19     1970-01-01 00:00:00.000000063
20     1970-01-01 00:00:00.000000059
21     1970-01-01 00:00:00.000000053
22     1970-01-01 00:00:00.000000063
23     1970-01-01 00:00:00.000000057
24     1970-01-01 00:00:00.000000055
25     1970-01-01 00:00:00.000000042
26     1970-01-01 00:00:00.000000050
27     1970-01-01 00:00:00.000000062
28     1970-01-01 00:00:00.000000048
29     1970-01-01 00:00:00.000000055
                    ...
4527   1970-01-01 00:00:00.000000042
4528   1970-01-01 00:00:00.000000046
4529   1970-01-01 00:00:00.000000026
4530   1970-01-01 00:00:00.000000046
4531   1970-01-01 00:00:00.000000046
4532   1970-01-01 00:00:00.000000037
4533   1970-01-01 00:00:00.000000030
4534   1970-01-01 00:00:00.000000031
4535   1970-01-01 00:00:00.000000028
4536   1970-01-01 00:00:00.000000026
4537   1970-01-01 00:00:00.000000041
4538   1970-01-01 00:00:00.000000034
4539   1970-01-01 00:00:00.000000037
4540   1970-01-01 00:00:00.000000030
4541   1970-01-01 00:00:00.000000039
4542   1970-01-01 00:00:00.000000039
4543   1970-01-01 00:00:00.000000042
4544   1970-01-01 00:00:00.000000032
4545   1970-01-01 00:00:00.000000027
4546   1970-01-01 00:00:00.000000057
4547   1970-01-01 00:00:00.000000035
4548   1970-01-01 00:00:00.000000039
4549   1970-01-01 00:00:00.000000061
4550   1970-01-01 00:00:00.000000046
4551   1970-01-01 00:00:00.000000060
4552   1970-01-01 00:00:00.000000064
4553   1970-01-01 00:00:00.000000057
4554   1970-01-01 00:00:00.000000068
4555   1970-01-01 00:00:00.000000072
4556   1970-01-01 00:00:00.000000071
Name: temperaturemin, Length: 4557, dtype: datetime64[ns]

In [74]:
print(__)

0      2007-01-13
1      2007-01-19
2      2007-01-21
3      2007-01-25
4      2007-01-27
5      2007-02-05
6      2007-02-08
7      2007-02-09
8      2007-02-26
9      2007-03-04
10     2007-03-05
11     2007-03-17
12     2007-03-18
13     2007-04-05
14     2007-04-06
15     2007-04-11
16     2007-04-17
17     2007-04-19
18     2007-04-23
19     2007-04-27
20     2007-04-28
21     2007-04-29
22     2007-05-02
23     2007-05-03
24     2007-05-05
25     2007-05-07
26     2007-05-08
27     2007-05-16
28     2007-05-18
29     2007-05-25
          ...
4527   2018-12-15
4528   2018-12-21
4529   2018-12-25
4530   2019-01-04
4531   2019-01-08
4532   2019-01-09
4533   2019-01-12
4534   2019-01-14
4535   2019-01-15
4536   2019-01-20
4537   2019-02-12
4538   2019-02-17
4539   2019-02-18
4540   2019-02-26
4541   2019-02-27
4542   2019-03-01
4543   2019-03-03
4544   2019-03-05
4545   2019-03-06
4546   2019-03-15
4547   2019-03-17
4548   2019-03-26
4549   2019-04-09
4550   2019-04-23
4551   2019-05-06
4552   2019-05-12
4553   2019-05-13
4554   2019-05-24
4555   2019-05-26
4556   2019-06-08
Name: date, Length: 4557, dtype: datetime64[ns]

In [89]:
dataframe.head(1)

,date,temperaturemin,temperaturemax,precipitation,snowfall,snowdepth,avgwindspeed,fastest2minwinddir,fastest2minwindspeed,fastest5secwinddir,...,drizzle,snow,freezingrain,smokehaze,thunder,highwind,hail,blowingsnow,dust,freezingfog
0,2007-01-13,48.0,69.1,0.0,0.0,0.0,6.93,230.0,17.0,230.0,...,No,No,No,No,No,No,No,No,No,No

In [93]:
dataframe.iloc[:,2].std()

16.504624380983373

In [92]:
dataframe.iloc[:,3].std()

0.3729381456721012

In [94]:
dataframe.iloc[:,3].mean()

0.1297563652326602