This is Markdown

In [3]:
import pandas as pd

Series Object, DataFrame, Panel Data

In [5]:
data = [1,2,3,4]
series1=pd.Series(data)
series1

0    1
1    2
2    3
3    4
dtype: int64

In [6]:
type(series1)

pandas.core.series.Series

In [7]:
series1= pd.Series(data, index = ['a','b','c','d'])
series1

a    1
b    2
c    3
d    4
dtype: int64

In [11]:
#create a dataframe using a list
data = [1,2,3,4,5]
df = pd.DataFrame(data)
df

   0
0  1
1  2
2  3
3  4
4  5

In [16]:
#create a dataframe using a dictionary
dictionary = {'fruits':['banana','appple','mangoe'], 'count':[10,20,50]}
df = pd.DataFrame(dictionary)
df

   fruits  count
0  banana     10
1  appple     20
2  mangoe     50

In [18]:
#Create a dataframe using a series
series = pd.Series([6,12], index= ['a','b'])
df = pd.DataFrame(series)
df

    0
a   6
b  12

In [27]:
#create a dataframe using a numpy array
import numpy as np
numpyarray = np.array([[120000,80000], ['James','Josh']])
df = pd.DataFrame({'name':numpyarray[1], 'salary':numpyarray[0]})
df

    name  salary
0  James  120000
1   Josh   80000

In [28]:
#CHange the columns of the DataFrame
rf = pd.DataFrame({ 'salary':numpyarray[0], 'name':numpyarray[1]})
rf

   salary   name
0  120000  James
1   80000   Josh